<html lang="en">
    <%-
    include('./partials/head.ejs')
   %>
<body>
   
    <%-
     include('./partials/nav.ejs')
    %>

    <div class="404 content">
       <p>oops</p>
    </div>
    <%-
    include('./partials/footer.ejs')
   %>
</body>
</html>